<title>Welcome</title>
<body>
    <div class="title">
        Welcome to RB's Tic-Tac-Toe!
    </div>
    <form method='post' action='/play'>
        <div>
            <button class='menu welcome'>Click Here to Play</button>
        </div>
    </form>
</body>