<title>Welcome</title>
<div class="title">
    Welcome to RB's Tic-Tac-Toe!
</div>
<form method='post' action='/play'>
    <div class="welcome">
        <button>Click Here to Play</button>
    </div>
</form>