<title>Welcome</title>
<body onload="showHideStuff()">
	<div class="big_container">
    <div class="title">
        Welcome to RB's Tic-Tac-Toe!
    </div>
    <form method='post' action='/play'>
		<div class="rules_modal" id="rules_modal">
			<div class="modal_content">
				<span class="close" onclick="closeModal()">&times;</span>
				<div class="welcome_rules">
					<div class='menu_rules'>
						Vegeta (left guy) Always goes first, because he is faster.
					</div>
					<div class='menu_rules'>
						Using the "home" button resets your game.
					</div>
					<div class='menu_rules'>
						Using the "play again" butotn starts the game again with the same settings.
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id='player1'>
				<img src='images/vegeta.png'/>
				<input type='radio' name='playerx' id='humanx' value='human' checked>
				<label for='humanx' onclick='redMeUp()'>Human</label>
				<input type='radio' name='playerx' id='easyx' value='easy'>
				<label for='easyx' onclick='redMeUp()'>Random Ai</label>
				<input type='radio' name='playerx' id='mediumx' value='medium'>
				<label for='mediumx' onclick='redMeUp()'>Sequential Ai</label>
				<input type='radio' name='playerx' id='hardx' value='hard'>
				<label for='hardx' onclick='redMeUp()'>Unbeatable Ai</label>
			</div>

			<div class='welcome'>
				<div class="num_container">
					<div class="num">3</div>
					<div class="num">5</div>
					<div class="num">7</div>
					<div class="num">9</div>
					<div class="num">11</div>
					<div class="num">13</div>
					<div class="num">15</div>
				</div>
				<input type="range" class="slider" name="size" min="3" max="15" step="2">
				<div class="button_wrapper">
					<button class='menu'>Click Here to Play</button>
					<div class="menu" onclick="gameRules()">
						Game Info
					</div>
				</div>
			</div>

			<div id='player2'>
				<img src='images/goku.png'/>
				<input type='radio' name='playero' id='humano' value='human'>
				<label for='humano' onclick='redMeUp()'>Human</label>
				<input type='radio' name='playero' id='easyo' value='easy'>
				<label for='easyo' onclick='redMeUp()'>Random Ai</label>
				<input type='radio' name='playero' id='mediumo' value='medium'>
				<label for='mediumo' onclick='redMeUp()'>Sequential Ai</label>
				<input type='radio' name='playero' id='hardo' value='hard' checked>
				<label for='hardo' onclick='redMeUp()'>Unbeatable Ai</label>
			</div>
		</div>
    </form>
	</div>
</body>
<script src="js/board_script.js"></script>